<!--<!DOCTYPE html>-->
<!--<table id="event-data" class="table table-bordered table-striped" style="clear: both">-->
    <!--<tbody>-->
        <!--<tr>-->
            <!--<td width="35%">שם האירוע</td>-->
            <!--&lt;!&ndash;<td width="65%" id="event-name" data-type="text" data-pk="1" data-title="Enter username">superuser</td>&ndash;&gt;-->
        <!--</tr>-->
    <!--</tbody>-->
<!--</table>-->
<form class="form-inline collapse" id="addEventForm" >
        <div id="name-group" class="form-group">
            <label for="InputName">שם האירוע</label>
            <input type="text" class="form-control" id="InputName" placeholder="החתונה של צילי וגילי">
        </div>
        <div id ="date-group" class="form-group">
            <label for="InputDate">תאריך</label>
            <input type="date" class="form-control" id="InputDate" placeholder="1-1-2020">
        </div>
        <div id="time-group" class="form-group">
            <label for="InputTime">זמן קבלת פנים</label>
            <input type="time" class="form-control" id="InputTime" placeholder="19:00">
        </div>
        <div id="venue-group" class="form-group">
            <label for="InputVenue">מקום האירוע</label>
            <input type="text" class="form-control" id="InputVenue" placeholder="אולמי בונבון">
        </div>
        <div id="address-group" class="form-group">
            <label for="InputAddress">כתובת</label>
            <input type="tel" class="form-control" id="InputAddress" placeholder="רוטשילד 14, חיפה">
        </div>
        <div class="form-group">
            <div class="col-xs-9 col-xs-offset-3">
                <ul id="errors"></ul>
            </div>
        </div>
        <div class="form-group">
            <div>
                <button data-target="#addEventForm" type="button" class="btn btn-default" data-toggle="collapse">בטל</button>
                <button type="submit" class="btn btn-primary">הוסף</button>
            </div>
        </div>
    <div>
        <!--<button data-target="#addEventForm" type="button" class="btn btn-default" data-toggle="collapse">בטל</button>-->
        <!--<button type="submit" class="btn btn-primary">הוסף</button>-->
    </div>
</form>

<div id="event-data" style="display: none">
    <table class="table table-bordered table-striped">
        <thead></thead>
        <tbody>
            <tr>
                <td width="20%">שם האירוע</td>
                <td><a id="EventName"></a></td>
            </tr>
            <tr>
                <td>תאריך לועזי</td>
                <td><a id="EventDate"></a></td>
            </tr>
            <tr>
                <td>תאריך עברי</td>
                <td id="HebrewDate"></td>
            </tr>
            <tr>
                <td>שעת קבלת פנים</td>
                <td><a id="EventTime"></a></td>
            </tr>
            <tr>
                <td>מקום האירוע</td>
                <td><a id="Venue"></a></td>
            </tr>
            <tr>
                <td>כתובת</td>
                <td><a id="Address"></a></td>
            </tr>
        </tbody>
    </table>
</div>


<div>
    <form id="edit-smsgateway" class="form-horizontal collapse" >
        <fieldset>
            <div class="control-group" id="sms-name-group">
                <label class="control-label" for="email">Email Address</label>
                <div class="controls">
                    <input type="text" class="input-large" id="email" placeholder="rod.howard@example.com">
                </div> <!-- /controls -->
            </div> <!-- /control-group -->
            <div class="control-group" id="sms-secret-group">
                <label class="control-label" for="secret">secret</label>
                <div class="controls">
                    <input type="text" class="input-medium" id="secret" placeholder="unique secret">
                </div> <!-- /controls -->
            </div> <!-- /control-group -->
            <!--<div class="control-group" id="sms-id-group">-->
                <!--<label class="control-label" for="device-id">device-id</label>-->
                <!--<div class="controls">-->
                    <!--<input type="text" class="input-medium" id="device-id" value="1111">-->
                <!--</div> &lt;!&ndash; /controls &ndash;&gt;-->
            <!--</div> &lt;!&ndash; /control-group &ndash;&gt;-->
            <div class="control-group" id="sms-password-group">
                <label class="control-label" for="password">Password</label>
                <div class="controls">
                    <input type="password" class="input-medium" id="password" >
                </div> <!-- /controls -->
            </div> <!-- /control-group -->
            <div class="help-block" id="sms-help-block"></div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">שמור</button>
                <button class="btn" type="reset" onclick="getEventData()">בטל</button>
            </div> <!-- /form-actions -->
        </fieldset>
    </form>
</div>
<button data-target="#edit-smsgateway" type="button" class="btn btn-default" data-toggle="collapse">ערוך פרטי smsgateway</button>
<button data-target="#addEventForm" type="button" class="btn btn-default" data-toggle="collapse">הוסף אירוע חדש</button>
<button id="deleteEventButton" type="button" class="btn btn-danger" onclick="deleteEvent()" >מחק אירוע</button>

<div class="btn-group" id="change-event-group" style="display: none">
    <button type="button" class="form-control btn btn-default dropdown-toggle" data-toggle="dropdown">
        החלף אירוע <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" id="selectEventsDropdown">
        <li><a href="#">אין ארועים</a></li>
    </ul>
</div>
<!-- bootstrap-datetimepicker -->


<!--<script src="//cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>-->
<script src="assets/js/eventsMngr.js"></script>