
<form>

    <div class="form-group">
        <label for="msg">כתוב הודעה</label><br>
        <button type="button" class="btn btn-xs msg-tag" data-tag="{כינוי}">כינוי</button>
        <button type="button" class="btn btn-xs msg-tag" data-tag="{שם}">שם פרטי</button>
        <button type="button" class="btn btn-xs msg-tag" data-tag="{תאריך}">תאריך לועזי</button>
        <button type="button" class="btn btn-xs msg-tag" data-tag="{תאריךע}">תאריך עברי</button>
        <button type="button" class="btn btn-xs msg-tag" data-tag="{כתובת}">כתובת</button>
        <button type="button" class="btn btn-xs msg-tag" data-tag="{מקום}">מקום האירוע</button>
        <textarea class="form-control" rows="5" id="msg"></textarea>
    </div>
    <div class="checkbox">
        <label><input type="checkbox"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-default">שלח</button>
</form>

<script src="assets/js/messages.js"></script>