
<form>
    <div class="form-group row">
        <label for="msg" class="col-sm-2 col-form-label">כתוב הודעה</label><br>
        <div class="col-sm-8">
            <button type="button" class="btn btn-xs msg-tag" data-tag="{כינוי}">כינוי</button>
            <button type="button" class="btn btn-xs msg-tag" data-tag="{אירוע}">שם האירוע</button>
            <button type="button" class="btn btn-xs msg-tag" data-tag="{שם}">שם פרטי</button>
            <button type="button" class="btn btn-xs msg-tag" data-tag="{משפחה}">שם  משפחה</button>
            <button type="button" class="btn btn-xs msg-tag" data-tag="{תאריך}">תאריך לועזי</button>
            <button type="button" class="btn btn-xs msg-tag" data-tag="{תאריךע}">תאריך עברי</button>
            <button type="button" class="btn btn-xs msg-tag" data-tag="{שעה}">שעה</button>
            <button type="button" class="btn btn-xs msg-tag" data-tag="{כתובת}">כתובת</button>
            <button type="button" class="btn btn-xs msg-tag" data-tag="{מקום}">מקום האירוע</button>
            <textarea class="form-control" rows="5" data-id="0" id="msg"></textarea>
        </div>
    </div>
    <div class="form-group row">
        <label for="msg-send-date" class="col-sm-2 col-form-label">תאריך שליחה</label>
        <div class="col-sm-3">
            <input class="form-control" type="date" value="now" id="msg-send-date">
            <!--todo: change format to dd/mm/yyyy-->
        </div>
        <label for="msg-send-time" class="col-sm-2 col-form-label">זמן שליחה</label>
        <div class="col-sm-3">
            <input class="form-control" type="time" value="now" id="msg-send-time">
        </div>
    </div>
    <button type="submit" class="btn btn-default" id="msgSave">שמור</button>
    <button type="submit" class="btn btn-default" id="msgSend">שלח</button>
</form>

<!--<div id="toolbar">-->
    <!--<button id="addRowButton" class="btn btn-default" data-toggle="modal" data-target="#addRowModal">הוסף רשומה</button>-->
    <!--<button id="RemoveButton" class="btn btn-default">מחק שורות מסומנות</button>-->
    <!--&lt;!&ndash;<button id="RefreshButton" class="btn btn-default">רענן</button>&ndash;&gt;-->
    <!--&lt;!&ndash;<select class="form-control">&ndash;&gt;-->
    <!--&lt;!&ndash;<option value="">Export Basic</option>&ndash;&gt;-->
    <!--&lt;!&ndash;<option value="all">Export All</option>&ndash;&gt;-->
    <!--&lt;!&ndash;<option value="selected">Export Selected</option>&ndash;&gt;-->
    <!--&lt;!&ndash;</select>&ndash;&gt;-->
<!--</div>-->

<table id="messages-table"></table>

<script src="assets/js/messages.js"></script>