

<div class="modal fade" id="addRowModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">הוסף רשומה חדשה</h4>
            </div>
            <form class="form-inline" id="addRsvpRowForm">
                <div class="modal-body">
                    <div id="name-group" class="form-group">
                        <label for="InputName">שם</label>
                        <input type="text" class="form-control" id="InputName" placeholder="Jane Doe">
                    </div>
                    <div class="form-group">
                        <label for="InputSurName">שם משפחה</label>
                        <input type="text" class="form-control" id="InputSurName" placeholder="Jane Doe">
                    </div>
                    <div class="form-group">
                        <label for="InputNickName">כינוי</label>
                        <input type="text" class="form-control" id="InputNickName" placeholder="Jane Doe">
                    </div>
                    <div class="form-group">
                        <label for="InputInvitees">מוזמנים</label>
                        <input type="text" class="form-control" id="InputInvitees" placeholder="Jane Doe">
                    </div>
                    <div class="form-group">
                        <label for="InputPhone">טלפון</label>
                        <input type="tel" class="form-control" id="InputPhone" placeholder="050-5555555">
                    </div>
                    <div class="form-group">
                        <label for="InputEmail">אימייל</label>
                        <input type="email" class="form-control" id="InputEmail" placeholder="jane.doe@example.com">
                    </div>
                    <div class="form-group">
                        <label for="InputGroups">קבוצות</label>
                        <input type="text" class="form-control" id="InputGroups" placeholder="jane.doe@example.com">
                    </div>
                    <div class="form-group">
                        <label for="InputRsvp">אישרו הגעה</label>
                        <input type="number" class="form-control" id="InputRsvp" placeholder="jane.doe@example.com">
                    </div>
                    <div class="form-group">
                        <label for="InputRide">הסעה</label>
                        <input type="number" class="form-control" id="InputRide" value="">
                    </div>
                </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">בטל</button>
                        <button type="submit" class="btn btn-primary">שמור</button>
                    </div>
                    <!--<button type="submit" class="btn btn-default">Send invitation</button>-->
                </form>


        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="toolbar">
    <button id="addRowButton" class="btn btn-default" data-toggle="modal" data-target="#addRowModal">הוסף רשומה</button>
    <button id="RemoveButton" class="btn btn-default">remove</button>
    <!--<select class="form-control">-->
        <!--<option value="">Export Basic</option>-->
        <!--<option value="all">Export All</option>-->
        <!--<option value="selected">Export Selected</option>-->
    <!--</select>-->
</div>

<table id="table"></table>

<script src="assets/js/rsvpTable.js"></script>